
.container{
  height: 80%;
  width: 100vw;
}
.block_table {
    display:flex;
    flex-direction:row;
    margin: 5%;
width: 90%; 
height: auto;   
justify-content: center;
align-content: center;

}



.table_title {
    text-align:center;
    height:auto;
    font-size:19px;
    width:90%;
    padding-top:10px;
    padding-bottom:10px;
    border: #000111 solid 0.5px;
    justify-content: space-around;
    font-family:'Montserrat';



}


.table {
  padding: 4%;
	width: 70%;
    font-family:'Montserrat';

}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #1c1a1a;
}
.table td {
	padding: 5px;
  background-color: white;
	border: 1px solid #1c1a1a;}



.input{
    width: 90%;
    height:90%;
    border: #777;
}

.btn_delete {
    margin-right: 2%;
    position: relative;
    display: inline-block;
    width:40% ;    height: fit-content;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
  }
  .btn_delete{
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }
  .btn_save {
    margin-top: 3%;
    margin-left: 10%;
    height: fit-content;
    position: relative;
    display: inline-block;
    width:50% ;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #497557;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#7db48f, #6ca17d 48%, #497557 52%, #385d44);
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }
  .btn_write {
    margin-right: 3%;
    position: relative;
    display: inline-block;
    width:40% ;    height: fit-content;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #d1db5f;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#becb57, #b0c262 48%, #b4b655 52%, #859e3f);
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }